.filter-container {
  background: var(--classic-color);
  position: sticky;
  top: 5rem;
  bottom: 0;
  flex: 0.2;
  height: 100vh;
  padding: 1rem 1rem 10rem 1rem;
  overflow-y: hidden;
}

.filter-container:hover {
  overflow-y: scroll;
}

.filter-container::-webkit-scrollbar {
  width: 0.5rem;
}

.filter-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

.category-container,
.rating-container,
.sort-container {
  display: flex;
  flex-direction: column;
}

.slider {
  width: 10rem;
}

.filter-headings {
  justify-content: space-between;
}

.filter-button {
  display: none;
}

@media only screen and (max-width: 950px) {
  .hide-filter {
    display: none;
  }
  .slider {
    width: 15rem;
  }
  .filter-container {
    background: var(--classic-color);
    padding: 1rem 1rem 10rem 1rem;
    overflow-y: hidden;
    position: fixed;
    top: 5rem;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  .filter-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    background-color: var(--primary-color);
  }

  .filter-button > button {
    border: 1px solid black;
  }
}
